.panel.panel-info
  .panel-heading
    %h3.panel-title meetup.com group
  .panel-body
    %form.form-horizontal
      .form-group
        %label.col-sm-2.control-label{for: 'group-name'} Group URL Name or ID
        .col-sm-10
          .input-group
            %input#group-name.form-control{type: 'text', placeholder: 'Group URL Name or ID'}
            %span.input-group-btn
              %button#show-events.btn.btn-primary{type: 'submit'} Show events
    %ul#events.list-group
    #spinner
      .dot1
      .dot2
